In [3]:
import pandas as pd
import math
import numpy as np 
import os

In [28]:
os.chdir("D:/Kalapa")
data = pd.read_csv("Kalapa_2019.csv", encoding = 'utf-8')
data.head()

        ID_NO            CLIENT_NAME
0  B280643401      NGUYỄN THỊ PHƯỢNG
1  B290718370        NGUYỄN HẢI ĐĂNG
2  B381492146             TÔ HOÀI ÂN
3  B168284679         TRẦN VĂN QUYỀN
4  B301373848  NGUYỄN THỊ THANH THÚY

In [29]:
data['National_ID'] = data['ID_NO'].astype(str).str[1:]

In [30]:
del data['ID_NO']
data.head()

             CLIENT_NAME National_ID
0      NGUYỄN THỊ PHƯỢNG   280643401
1        NGUYỄN HẢI ĐĂNG   290718370
2             TÔ HOÀI ÂN   381492146
3         TRẦN VĂN QUYỀN   168284679
4  NGUYỄN THỊ THANH THÚY   301373848

In [6]:
def index_marks(nrows, chunk_size):
    return range(chunk_size, math.ceil(nrows / chunk_size) * chunk_size, chunk_size)

indices = list(index_marks(data.shape[0], 20000))
print("Marks: {}".format(indices))

Marks: [20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000, 180000, 200000, 220000, 240000, 260000, 280000, 300000, 320000, 340000, 360000, 380000, 400000, 420000, 440000, 460000, 480000, 500000, 520000, 540000, 560000, 580000, 600000, 620000, 640000, 660000, 680000, 700000, 720000, 740000, 760000, 780000, 800000, 820000, 840000, 860000, 880000, 900000, 920000, 940000, 960000, 980000, 1000000, 1020000, 1040000, 1060000, 1080000, 1100000, 1120000, 1140000, 1160000, 1180000, 1200000, 1220000, 1240000]

In [7]:
def split(data, chunk_size):
    indices = index_marks(data.shape[0], chunk_size)
    return np.split(data, indices)

Shape: (20000, 2); RangeIndex(start=0, stop=20000, step=1)
Shape: (20000, 2); RangeIndex(start=20000, stop=40000, step=1)
Shape: (20000, 2); RangeIndex(start=40000, stop=60000, step=1)
Shape: (20000, 2); RangeIndex(start=60000, stop=80000, step=1)
Shape: (20000, 2); RangeIndex(start=80000, stop=100000, step=1)
Shape: (20000, 2); RangeIndex(start=100000, stop=120000, step=1)
Shape: (20000, 2); RangeIndex(start=120000, stop=140000, step=1)
Shape: (20000, 2); RangeIndex(start=140000, stop=160000, step=1)
Shape: (20000, 2); RangeIndex(start=160000, stop=180000, step=1)
Shape: (20000, 2); RangeIndex(start=180000, stop=200000, step=1)
Shape: (20000, 2); RangeIndex(start=200000, stop=220000, step=1)
Shape: (20000, 2); RangeIndex(start=220000, stop=240000, step=1)
Shape: (20000, 2); RangeIndex(start=240000, stop=260000, step=1)
Shape: (20000, 2); RangeIndex(start=260000, stop=280000, step=1)
Shape: (20000, 2); RangeIndex(start=280000, stop=300000, step=1)
Shape: (20000, 2); RangeIndex(start=300000, stop=320000, step=1)
Shape: (20000, 2); RangeIndex(start=320000, stop=340000, step=1)
Shape: (20000, 2); RangeIndex(start=340000, stop=360000, step=1)
Shape: (20000, 2); RangeIndex(start=360000, stop=380000, step=1)
Shape: (20000, 2); RangeIndex(start=380000, stop=400000, step=1)
Shape: (20000, 2); RangeIndex(start=400000, stop=420000, step=1)
Shape: (20000, 2); RangeIndex(start=420000, stop=440000, step=1)
Shape: (20000, 2); RangeIndex(start=440000, stop=460000, step=1)
Shape: (20000, 2); RangeIndex(start=460000, stop=480000, step=1)
Shape: (20000, 2); RangeIndex(start=480000, stop=500000, step=1)
Shape: (20000, 2); RangeIndex(start=500000, stop=520000, step=1)
Shape: (20000, 2); RangeIndex(start=520000, stop=540000, step=1)
Shape: (20000, 2); RangeIndex(start=540000, stop=560000, step=1)
Shape: (20000, 2); RangeIndex(start=560000, stop=580000, step=1)
Shape: (20000, 2); RangeIndex(start=580000, stop=600000, step=1)
Shape: (20000, 2); RangeIndex(start=600000, stop=620000, step=1)
Shape: (20000, 2); RangeIndex(start=620000, stop=640000, step=1)
Shape: (20000, 2); RangeIndex(start=640000, stop=660000, step=1)
Shape: (20000, 2); RangeIndex(start=660000, stop=680000, step=1)
Shape: (20000, 2); RangeIndex(start=680000, stop=700000, step=1)
Shape: (20000, 2); RangeIndex(start=700000, stop=720000, step=1)
Shape: (20000, 2); RangeIndex(start=720000, stop=740000, step=1)
Shape: (20000, 2); RangeIndex(start=740000, stop=760000, step=1)
Shape: (20000, 2); RangeIndex(start=760000, stop=780000, step=1)
Shape: (20000, 2); RangeIndex(start=780000, stop=800000, step=1)
Shape: (20000, 2); RangeIndex(start=800000, stop=820000, step=1)
Shape: (20000, 2); RangeIndex(start=820000, stop=840000, step=1)
Shape: (20000, 2); RangeIndex(start=840000, stop=860000, step=1)
Shape: (20000, 2); RangeIndex(start=860000, stop=880000, step=1)
Shape: (20000, 2); RangeIndex(start=880000, stop=900000, step=1)
Shape: (20000, 2); RangeIndex(start=900000, stop=920000, step=1)
Shape: (20000, 2); RangeIndex(start=920000, stop=940000, step=1)
Shape: (20000, 2); RangeIndex(start=940000, stop=960000, step=1)
Shape: (20000, 2); RangeIndex(start=960000, stop=980000, step=1)
Shape: (20000, 2); RangeIndex(start=980000, stop=1000000, step=1)
Shape: (20000, 2); RangeIndex(start=1000000, stop=1020000, step=1)
Shape: (20000, 2); RangeIndex(start=1020000, stop=1040000, step=1)
Shape: (20000, 2); RangeIndex(start=1040000, stop=1060000, step=1)
Shape: (20000, 2); RangeIndex(start=1060000, stop=1080000, step=1)
Shape: (20000, 2); RangeIndex(start=1080000, stop=1100000, step=1)
Shape: (20000, 2); RangeIndex(start=1100000, stop=1120000, step=1)
Shape: (20000, 2); RangeIndex(start=1120000, stop=1140000, step=1)
Shape: (20000, 2); RangeIndex(start=1140000, stop=1160000, step=1)
Shape: (20000, 2); RangeIndex(start=1160000, stop=1180000, step=1)
Shape: (20000, 2); RangeIndex(start=1180000, stop=1200000, step=1)
Shape: (20000, 2); RangeIndex(start=1200000, stop=1220000, step=1)
Shape: (20000, 2); RangeIndex(start=1220000, stop=1240000, step=1)
Shape: (17493, 2); RangeIndex(start=1240000, stop=1257493, step=1)

In [31]:
chunks = split(data, 20000)
for c in chunks:
    print("Shape: {}; {}".format(c.shape, c.index))

Shape: (20000, 2); RangeIndex(start=0, stop=20000, step=1)
Shape: (20000, 2); RangeIndex(start=20000, stop=40000, step=1)
Shape: (20000, 2); RangeIndex(start=40000, stop=60000, step=1)
Shape: (20000, 2); RangeIndex(start=60000, stop=80000, step=1)
Shape: (20000, 2); RangeIndex(start=80000, stop=100000, step=1)
Shape: (20000, 2); RangeIndex(start=100000, stop=120000, step=1)
Shape: (20000, 2); RangeIndex(start=120000, stop=140000, step=1)
Shape: (20000, 2); RangeIndex(start=140000, stop=160000, step=1)
Shape: (20000, 2); RangeIndex(start=160000, stop=180000, step=1)
Shape: (20000, 2); RangeIndex(start=180000, stop=200000, step=1)
Shape: (20000, 2); RangeIndex(start=200000, stop=220000, step=1)
Shape: (20000, 2); RangeIndex(start=220000, stop=240000, step=1)
Shape: (20000, 2); RangeIndex(start=240000, stop=260000, step=1)
Shape: (17851, 2); RangeIndex(start=260000, stop=277851, step=1)

In [33]:
chunks[0].to_excel('Kalapa_1.xlsx',index = False)
chunks[1].to_excel('Kalapa_2.xlsx',index = False)
chunks[2].to_excel('Kalapa_3.xlsx',index = False)
chunks[3].to_excel('Kalapa_4.xlsx',index = False)
chunks[4].to_excel('Kalapa_5.xlsx',index = False)
chunks[5].to_excel('Kalapa_6.xlsx',index = False)
chunks[6].to_excel('Kalapa_7.xlsx',index = False)
chunks[7].to_excel('Kalapa_8.xlsx',index = False)
chunks[8].to_excel('Kalapa_9.xlsx',index = False)
chunks[9].to_excel('Kalapa_10.xlsx',index = False)
chunks[10].to_excel('Kalapa_11.xlsx',index = False)
chunks[11].to_excel('Kalapa_12.xlsx',index = False)
chunks[12].to_excel('Kalapa_13.xlsx',index = False)
chunks[13].to_excel('Kalapa_14.xlsx',index = False)